/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
.pc { display: none !important; }
.sp { display: block !important; }
}

.spacer10 {
    clear: both;
    width: auto;
    height: 10px;
}
.spacer20 {
    clear: both;
    width: auto;
    height: 20px;
}
.spacer30 {
    clear: both;
    width: auto;
    height: 30px;
}

/* imgリンク　マウスオーバーできらっと */
.alpha a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

/* 溝の幅をなくす */
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
