/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }
}

.spacer10 {
  clear: both;
  width: auto;
  height: 10px;
}

.spacer20 {
  clear: both;
  width: auto;
  height: 20px;
}

.spacer30 {
  clear: both;
  width: auto;
  height: 30px;
}

/* imgリンク　マウスオーバーできらっと */
.alpha a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

/* 溝の幅をなくす */
.no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* テーブル調整 */
.tbl-r02 td {
  border: solid 1px #ccc;
  padding: 10px;
  width: 50%;
}

@media screen and (max-width: 640px) {
  .last td:last-child {
    border-bottom: solid 1px #ccc;
    width: 100%;
  }

  .tbl-r02 {
    width: 90%;
  }

  .tbl-r02 th,
  .tbl-r02 td {
    border-bottom: none;
    display: block;
    width: 100%;
  }
}

/* divすべてをaタグでくくるよ */
.special {
  position: relative;
  z-index: 1;
  /* 必要であればリンク要素の重なりのベース順序指定 */
}

.special a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -999px;
  z-index: 2;
  /* 必要であればリンク要素の重なりのベース順序指定 */
}

.special:hover {
  filter: alpha(opacity=70);
  /* IE 6,7*/
  -ms-filter: "alpha(opacity=70)";
  /* IE 8,9 */
  -moz-opacity: 0.7;
  /* FF , Netscape */
  -khtml-opacity: 0.7;
  /* Safari 1.x */
  opacity: 0.7;
  zoom: 1;
  /*IE*/
}


/* テーブルのレスポンシブ */
.col-head-type1 {
  border-collapse: collapse;
  width: 100%;
}

.col-head-type1 th,
.col-head-type1 td {
  border: 1px solid #dbe1e8;
  padding: 8px;
}

.col-head-type1 th {
  background: #f9fafc;
  text-align: left;
  width: 200px;
}

@media only screen and (max-width: 800px) {
  .col-head-type1 tr,
  .col-head-type1 th,
  .col-head-type1 td {
    display: block;
    width: auto;
  }

  .col-head-type1 tr:first-child {
    border-top: 1px solid #dbe1e8;
  }

  .col-head-type1 th,
  .col-head-type1 td {
    border-top: none;
  }
}

/*
 * フロー　client.htmlで使用
 */
 .steps-title {
   width: 100%;
   margin: 0 .5em 1em 0em;
   background: #eaeebb;
   text-decoration: none;
   color: #444;
   position: relative;
   height: 100px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column nowrap;
 }

 .form-explain {
   min-height: 5em;
 }

 .steps-title::after {
   content: " ";
   display: block;
   width: 0;
   height: 0;
   border-top: 50px solid transparent;
   border-bottom: 50px solid transparent;
   border-left: 30px solid #eaeebb;
   position: absolute;
   top: 50%;
   margin-top: -50px;
   left: 100%;
   z-index: 2;
 }

 @media print, screen and (max-width: 768px) {
   .steps-title {
     width: 80%;
     margin: 0 auto 30px;
     background: #eaeebb;
     text-decoration: none;
     color: #444;
     position: relative;
     height: auto;
     text-align: center;
     padding: 10px;
   }
   .steps-title::after {
     content: "";
     display: block;
     border-top: 20px solid #eaeebb !important;
     border-right: 38vw solid transparent !important;
     border-left: 38vw solid transparent !important;
     border-bottom: none;
     position: absolute;
     width: 0;
     height: 0;
     bottom: -20px !important;
     top: auto !important;
     left: 50%;
     margin-top: 0 !important;
     margin-left: -38vw;
   }
 }


/* guide.html 流れの部分 */
.flowchart{
  margin-left: .5em;
  border-left: 2px dashed;
}
.flowchart h2{
  position: relative;
  margin-left: 2em;
  margin-bottom: 0;
}
.flowchart p{
  margin-top: .3em;
  margin-left: 3em;
}
.flowchart h2:before{
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  content: "\f0ab";
  position: absolute;
  left: -2.5em;
  top: .2em;
  width: 1em;
  height: 1em;
  border-radius: .5em;
  background: #fff;
}
.flowchart h2:after{
  content: "";
  border-bottom: 1px solid;
  width: 1em;
  background: #000;
  position: absolute;
  top: .8em;
  left: -1.5em;
}
